# Data Types and Structures Questions

1. What are data structures, and why are they important?
- Data structures are the way to store and organise the data. It plays crusial role in programming languages. Because as per requirement we need different type of data storage means data structures.

2. Explain the difference between mutable and immutable data types with examples ?
- Mutable data types mean they can be updated after declaration. Like list dict. Immutable means once declared we can't update them, either delete or create another copy. Like String, tuple.

3. What are the main differences between lists and tuples in Python?
- Lists are mutable and tuples are immutable.

4. Describe how dictionaries store data?
- Dictionary in python stores data in key-value pair format. Keys are unique valuess.

5. Why might you use a set instead of a list in Python ?
- Set are used when we need to store the unique values. Set uses hashing technique so that searching in set is faster than list.

6. What is a string in Python, and how is it different from a list ?
- String in python stores the groups of characters data. It is immutable. list is mutable.

7. How do tuples ensure data integrity in Python ?
- tuples are immutable, means once created no-one can chanage its data.

8. What is a hash table, and how does it relate to dictionaries in Python?
- hash table uses hashing technique to store the values, dictionary in python uses same techinque to the keys.

9.  Can lists contain different data types in Python ?
- yes. lists contains different data types.

10.  Explain why strings are immutable in Python ?
- To ensure safety, allow hashebility and improve memory optimization.

11. What advantages do dictionaries offer over lists for certain tasks?
- no duplicate key, easy and quick searching of key.

12. Describe a scenario where using a tuple would be preferable over a list ?
- if we want to store password details which should not be allowed to udpate once created. Either delte or create new one. Store the keys in dictionary.

13. How do sets handle duplicate values in Python ?
- sets uses hashing to store values. So if same hash value comes it ignore it.

14. How does the “in” keyword work differently for lists and dictionaries ?
- In checks the presence of value in list with linear search, while in in dictionary check the presence of key in constant time.

15. Can you modify the elements of a tuple? Explain why or why not ?
- No, we can't modify tuple elements. Tuple are immutable.

16. What is a nested dictionary, and give an example of its use case ?
- Nested dictionary means dictionary inside another dictionary value. Example: If we want to store the complex data or connected data like students details where key is student id and value is dictionary of details.

17. Describe the time complexity of accessing elements in a dictionary ?
- O(1). Constant time because of hashing.

18. In what situations are lists preferred over dictionaries ?
- if we want to store the serial data like numeric values which are independant of others. list of prime numbers from 1 to 100.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
- dictionaries were unordered because they were storing data without the proper insertion order. But in current version of it, they are ordered.

20. Explain the difference between a list and a dictionary in terms of data retrieval ?
- list data retrieval happends in linear search but in dictionary it happens in constant time. list data can be retreived using index and in dictionary value is accessed using the associated key with it.

# Practical Questions.

In [1]:
# 1. Write a code to create a string with your name and print it ?
name = "kiran"
print(name)

kiran

In [2]:
# 2. Write a code to find the length of the string "Hello World"?
string = "Hello World"
print(len(string))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
sen = "I like apple"
sen = sen.replace("apple", "orange")
print(sen)

I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
lst = list(range(1, 5))
print(lst)

[1, 2, 3, 4]

In [9]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [10]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [11]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [12]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [15]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tp = (100, 200 ,300)
print(tp)
print(type(tp))

(100, 200, 300)
<class 'tuple'>

In [16]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tp = ('red', 'green', 'blue', 'yellow')
print(tp[-2])

blue

In [17]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tp = (10, 20, 5, 15)
print(min(tp))

5

In [23]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tp = ('dog', 'cat', 'rabbit')
print(tp.index('cat'))

1

In [26]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tp = ("Apple", "Guava", "graphes")

if "kiwi" in tp:
  print("Present")
else:
  print("not present")

not present

In [27]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it
st = {'a', 'b', 'c'}
print(st)

{'a', 'b', 'c'}

In [28]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
st = {1, 2, 3, 4, 5}
st.clear()
print(st)

set()

In [31]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
st = {1, 2, 3, 4}
st.remove(4)
print(st)

{1, 2, 3}

In [33]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
st1 = {1, 2, 3}
st2 = {3, 4, 5}

st = st1 | st2
print(st)

{1, 2, 3, 4, 5}

In [34]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
st1 = {1, 2, 3}
st2 = {3, 4, 5}

print(st1 & st2)

{3}

In [ ]:
# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [35]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "", "age": "", "city": ""}
print(my_dict)

{'name': '', 'age': '', 'city': ''}

In [ ]:
# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [36]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [38]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [44]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dt = {'name': 'Bob', 'age': 22, 'city': 'New York'}

dt.pop('age', None)
print(dt)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [45]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [ ]:
# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [46]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8, "c": 9}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 7, 'b': 8, 'c': 9}

In [48]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
lst = [random.randint(1, 100) for _ in range(3)]
lst.sort()
print(lst)

[2, 25, 31]

In [ ]:
# 28.  Write a code to create a list with strings and print the element at the third index.

In [49]:
# 28. Write a code to create a list with strings and print the element at the third index.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[2])

cherry

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

In [53]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

# Using the update() method
combined_dict_update = dict1.copy() # Create a copy to avoid modifying the original dict1
combined_dict_update.update(dict2)
print("Combined dictionary using update():", combined_dict_update)

combined_dict_union = dict1 | dict2
print("Combined dictionary using union operator (|):", combined_dict_union)

Combined dictionary using update(): {'a': 1, 'b': 2, 'c': 3, 'd': 4}
Combined dictionary using union operator (|): {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Write a code to convert a list of strings into a set.

In [54]:
# 30. Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple", "date"]
string_set = set(string_list)
print(string_set)

{'cherry', 'apple', 'date', 'banana'}